@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Handlee&family=Lusitana&family=Merienda&family=Playfair+Display&display=swap");

body {
    margin: 0px;
    padding: 0px;
    font-family: "Handlee", cursive;
    background-color: #2A2438;
}
header {
    height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: inherit;
}
/* Navbar */
nav {
    display: block;
   
}
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-width: 100%;
    border-radius: 50px;
    padding: 0px 30px;
    margin: 0px;
    background-color: #352F44;
}
ul li {
    list-style-type: none;
    margin: 10px 20px;
}
ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
}
ul li a:hover {
    cursor: pointer;
    background-color: #5C5470;
    border-radius: 10px;
}

#intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 100px 0px;
    justify-items: center;
    justify-content: center;
    
}
/* section in header */
.section {
    text-align: center;
    width: 50%;
}
/* Profile image */
header img {
    position: relative;
    top: 0;
    background-color: #DBD8E3;
    border-radius: 39% 61% 67% 33% / 30% 32% 68% 70%;
    display: block;
    width: 500px;
    height: 400px;
    float: left;
}
/* content in section */
header p {
    font-size: 42px;
    color: #fff;
}
.name {
    font-size: 42px;
    text-indent: 80px;
}
/* Responsive style */
@media screen and (max-width: 950px) {
    #intro{
        display: flex;
    margin: 50px 0px;
    align-items: center;
    }
    .section {
        text-align: center;
        width: 100%;
        padding: 30px 0px;
        margin: 30px 0px;
    }

    header img {
        display: block;
        width: 300px;
        height: 300px;
        border-radius: 39% 61% 67% 33% / 30% 32% 68% 70%;
    }
    header p {
        font-size: 24px;
    }
    p.name{
        font-size: 30px;
    }

    ul {
        padding: 0px 10px;
    }
}

@media screen and (max-width: 650px) {
    header{
        height: 100vh;
        
    }
    #intro{
        display: flex;
    margin: 20px 0px;
    align-items: center;
    }
    .section {
        width: 100%;
        text-align: center;
        padding: 10px 0px;
        margin: 10px 0px;
    }
    header img {
        display: block;
        width: 300px;
        height: 250px;
    }
    header p {
        text-indent: -150px;
        font-size: 24px;
        width: 100%;
    }

    ul {
        padding: 0px 0px;
    }
    ul li {
        font-size: 14px;
        margin: 10px 10px;
    }
}
/* Eduction Details  */
.section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: inherit;
}
.section2 h1 {
    font-size: 28px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: capitalize;
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    cursor: pointer;
    padding: 10px;
}
.container .box .face {
    width: 300px;
    height: 300px;
    border: #352F44 1px solid;
}
/* front side  */
.container .box .face.front {
    position: relative;
    background: #DBD8E3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box .face.front .content img {
    width: 150px;
    height: 100px;
}
.container .box .face.front .content h3 {
    margin: 10px 0;
    padding: 0;
    color: #000;
    text-align: center;
    font-size: 1.5em;
}
/* behind part */
.container .box .face.behind {
    position: relative;
    background:#DBD8E3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

